/*_____General_____*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fff;
    padding-top: 70px;
}

.distances {
    padding-top: 10px;
    padding-bottom: 10px;
}

.thumbnail {
    display: block;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: transparent;
    border: none;
    border-radius: 20px;
}

.style-one {
    text-align: center;
    background-color: #1ABC9C;
    color: #fff;
}

.style-one .line-divider {
    display: inline-block;
    width: 10%;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
}

.style-one .glyphicon-star {
    font-size: 35px;
    vertical-align: middle;
    padding-left: 12px;
    padding-right: 12px;
}

.style-two {
    background-color: #fff;
    color: #2C3E50;
}

.style-two .line-divider {
    display: inline-block;
    width: 10%;
    height: 4px;
    border-radius: 2px;
    background-color: #2C3E50;
}

.style-two .glyphicon-star {
    font-size: 35px;
    vertical-align: middle;
    padding-left: 12px;
    padding-right: 12px;
    color: #2C3E50;
}

.btn {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
}

.btn-default {
    color: #fff;
}

.btn-default:hover {
    color: #333;
    border-color: #fff;
    background-color: #fff;
}

.btn-lg {
    padding: 16px 32px;
}

#contact .btn {
    background-color: #1ABC9C;
    border: 2px solid #1ABC9C;
    border-radius: 8px;
}

#contact .btn-success {

}

textarea {
    min-width: 100%;
    max-width: 100%;

    min-height: 102px;
    max-height: 102px;

    resize: none;
}

h1, h2, h3 {
    font-weight: 700;
    text-transform: uppercase;
}

.h1, h1 {
    font-size: 48px;
}

.h2, h2 {
    font-size: 44px;
}

.h3, h3 {
    font-size: 25px;
}

p {
    font-weight: 400;
}

/*_____Inzio Navbar_____*/


.navbar {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default {
    background-color: #2C3E50;
    border-color: none;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 700;
}

.navbar-default .navbar-brand {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #1ABC9C;
    background-color: transparent;
}

/*_____Fine Navbar_____*/

/*_____Inizio Main_____*/

#main p {
    font-size: 25px;
}

.img-responsive {
    max-width: 240px;
}

/*_____Fine Main_____*/

/*_____Inizio Portfolio_____*/

#portfolio .line-divider {
    background-color: #2C3E50;
}

#portfolio .glyphicon-star {
    color: #2C3E50;
}

.thumbnail .img-responsive {
    border-radius: 20px;
}

/*_____Fine Portfolio_____*/

/*_____Inizio About_____*/

#about {
    padding-top: 50px;
    padding-bottom: 50px;
}

#about .container {
    max-width: 50%;
}

#about p {
    text-align: left;
}

/*_____Fine About_____*/

/*_____Inizio Contact______ */

#contact .container {
    max-width: 50%;
}

.form-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-control {
    padding: 25px 12px;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid grey;
    border-left: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 20px;
    color: black;
}

.form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid grey;
}


/*_____Fine Contact______ */

/*_____Inizio Footer______ */

#info-box {
    background-color: #2C3E50;
}

#info-box p {
    font-size: 18px;
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 25px;
    line-height: 1.42;
    border-radius: 25px;
}

.copyright {
    padding: 15px 0;
    font-size: 14px;
    background-color: #1A252F;
}

/*_____Fine Footer______ */

@media (min-width: 420px){

    .navbar-default .navbar-brand {
        font-size: 28px;
    }

    #main {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .thumbnail>img {
        max-width: 80%;
        height: auto;
    }

}

@media screen and (min-width: 768px){

    #main {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .thumbnail>img {
        max-width: 80%;
        height: auto;
    }
}

@media screen and (min-width: 992px){

    #main {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .thumbnail>img {
        max-width: 100%;
        height: auto;
    }
}
