body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fff;
}

.distances {
    padding-top: 10px;
    padding-bottom: 10px;
}

.h1, h1 {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-weight: 400;
}

.navbar {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default {
    background-color: #2C3E50;
    border-color: none;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 700;
}

.navbar-default .navbar-brand {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #1ABC9C;
    background-color: transparent;
}

/*_____Fine Navbar_____*/

/*_____Inizio Jumbo_____*/

.jumbotron {
    background-color: #1ABC9C;
    text-align: center;
}

.jumbotron p {
    font-size: 25px;
}

.img-responsive {
    max-width: 240px;
}

.line-divider {
    display: inline-block;
    width: 10%;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
}

.glyphicon-star {
    font-size: 35px;
    vertical-align: middle;
    padding-left: 12px;
    padding-right: 12px;
}


/*_____Fine Jumbo_____*/

@media (min-width: 420px){

    .navbar-default .navbar-brand {
        font-size: 28px;
    }
}

@media screen and (min-width: 768px){

    .jumbotron {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
